<div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-12 text-center">
            {% if bite == true %}
                <p>Joãozinho mordeu o seu dedo!</p>
            {% else %}
                <p>Joaozinho <b>NÃO</b> mordeu o seu dedo!</p>
            {% endif %}
        </div>
    </div>
</div>
