<div class="container">
    <p class="text-center">Abaixo tem um exemplo de CSV que usei para criar o conversor</p>
    <p class="text-center">Para baixar o XML você pode clicar <a href="https://www.w3schools.com/xml/cd_catalog.xml" target="_blank" >aqui</a></p>
    <p class="text-center">Clique <a href="/ex5/download" target="_blank">aqui</a> para baixar o CSV desse XML</p>
    <pre>{{ xml }}</pre>
</div>
