<div class="container">
    <p class="text-center">A API foi criada e movida para o endpoint <b><a href="/api/v1/user/" target="_blank">/api/v1/user/</a></b></p>
    <p class="text-center">Caso queira uma collection do postman para trabalhar com a API, clique <a href="/ex7/collection" target="_blank">aqui</a></p>
    <p class="text-center">Se preferir visualizar a documentação no Swagger, é possivel importar o arquivo <b>swagger.yml</b> que está na raiz do projeto dentro do <a href="https://editor.swagger.io/" target="_blank">editor</a></p>
</div>


