<div class="container align-items-center">
    <div class="row">
        <p>Bem vindo ao ambiente visual dos exercícios! Clique nos links acima para ver a resolução de cada um dos exercícios!</p>
    </div>
</div>
